{% extends "centipair/core/views/templates/store/base.html" %}
{% block title %} Welcome to store new deals available today {% endblock %}
{%block content%}


  <div class="row">

    <div class="col-md-8">
      
      <div>
	<img src="/img/store/home-banner.jpg" class="img-responsive"/>
	<p>Introduce your website content using this jumbotron! It's an awesome way to call attention to something that needs to be read! It's also a great alternative to using a banner image if you don't have a good quality picture!</p>
	<p><a class="btn btn-primary btn-large">Call to action!</a>
	</p>
      </div>
      
      
      <!--col-md-7-->
    </div>
    <div class="col-md-4">
      <div style="margin-bottom:10px;">
	<img src="/img/store/home-offer.jpg" class="img-responsive"/>
      </div>
      <div>
	<img src="/img/store/usb.png" class="img-responsive"/>
      </div>
      <!--col-md-5-->
    </div>

    <!--row-->
  </div>


{%endblock%}
