{% extends "centipair/core/views/templates/store/base.html" %}
{% block title %} Welcome to store new deals available today {% endblock %}
{%block content%}


  <div class="row">

    <div class="col-md-8">
      
      <div class="row">
	<p>
	  <img src="/img/store/home-banner.jpg" class="img-responsive"/>
	</p>
      </div>
      <h4>Latest in mobile phone</h4>
      <hr>
      <div class="row">
	<div class="col-md-3 item-box">
	  <div class="item-box-image-container">
	    <img src ="/img/store/item_1.jpg"/>
	  </div>
	  <div class="item-box-price">
	    <a href="#">$299</a>
	  </div>
	  <div class="item-box-title">
	    <a href="#">Iphone 5s latest model</a>
	  </div>
	</div>
	<div class="col-md-3 item-box">
	  <div class="item-box-image-container">
	    <img src ="/img/store/item_1.jpg"/>
	  </div>
	  <div class="item-box-price">
	    <a href="#">$299</a>
	  </div>
	  <div class="item-box-title">
	    <a href="#">Iphone 5s latest model</a>
	  </div>
	</div>
	<div class="col-md-3 item-box">
	  <div class="item-box-image-container">
	    <img src ="/img/store/item_1.jpg"/>
	  </div>
	  <div class="item-box-price">
	    <a href="#">$299</a>
	  </div>
	  <div class="item-box-title">
	    <a href="#">Iphone 5s latest model</a>
	  </div>
	</div>
	<div class="col-md-3 item-box">
	  <div class="item-box-image-container">
	    <img src ="/img/store/item_1.jpg"/>
	  </div>
	  <div class="item-box-price">
	    <a href="#">$299</a>
	  </div>
	  <div class="item-box-title">
	    <a href="#">Iphone 5s latest model</a>
	  </div>
	</div>
	
	<!--row-->
      </div>
      <!--col-md-8-->
    </div>
    <div class="col-md-4">
      <div class="offer-container">
	<img src="/img/store/home-offer.jpg" class="img-responsive"/>
      </div>
      <div class="offer-container">
	<img src="/img/store/usb.png" class="img-responsive"/>
      </div>
      <!--col-md-4-->
    </div>

    <!--row-->
  </div>


{%endblock%}
